.HomePage {
    margin: 0;
    width: 100%;
}

.Heading{
    background-image: url(../../assets/img/HomePage/headingBg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 650px;
    color: white;
    padding: 130px 0px;
}

.headingSliderContent {
    max-height: 400px;
    margin: 0 70px;
}

.AboutMe{
    background-image: url(../../assets/img/HomePage/AboutMe.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 500px;
    color: white;
    padding: 130px 0px 0px 20px;
}

.AboutMe p {
    font-size: 18pt;
    padding-bottom: 30px;
    
}

.Blog{
    min-width: 100%;
    min-height: 500px;
    color: black;
    padding: 20px 30px 40px 40px;
}

.Portofolio{
    min-width: 100%;
    min-height: 500px;
    color: black;
    padding: 20px 30px 40px 40px;
}

.headingimg1 {
    margin: 0;
    align-items: center center;
    height: 60%;
}

.headingContent {
    margin: auto;
    padding:50px 40px;
}

.headingContent h1 {
    font-size: 4.0em !important;
}

.socialMedia {
    height: 50px;
    padding: 5px 5px;
}

@media(max-width:499px){
    .Heading{
        min-height: 550px;
        max-height: 550px;
        padding: 80px 0;
    }

    .headingSliderContent {
        max-height: 230px;
        margin: 0px 80px;
    }

    .headingContent {
        margin: 0;
        text-align: center !important;
        padding:0px 40px;
    }

    .headingContent p{
        font-size: 12px;
    }

    .headingContent h1{
        font-size: 35px !important;
    }

    .headingContent h3{
        font-size: 15px !important;
    }

    .headingContent h5{
        font-size: 15px;
    }

    .socialMedia {
        height: 40px;
    }    

    #profile {
        display: none;
    }

    .AboutMe{
        min-height: 0px;
        padding: 10px 0px;
        height: 210px;
    }

    .AboutMe p{
        margin-top: 40px;
        padding-left: 240px;
        font-size: 14px;
        padding-right: 10px;
        margin-bottom: -20px;
    }

    .AboutMe a {
        float: right;
        margin-right: 70px;
    }

    
}